<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".memoryStrategies5"></activity>
        <activity android:name=".memoryStrategies4" />
        <activity android:name=".showAllActivity" />
        <activity android:name=".QuizHome" />
        <activity android:name=".gamesHome" />
        <activity android:name=".memoryGoals" />
        <activity android:name=".Tips" />
        <activity android:name=".memoryStrategies3" />
        <activity android:name=".memoryStrategies2" />
        <activity android:name=".memoryStrategies" />
        <activity android:name=".LearningActivity" />
        <activity android:name=".calendar" />
        <activity android:name=".Home" />
        <activity android:name=".introPage2" />
        <activity android:name=".signUp" />
        <activity android:name=".introPage" />
        <activity android:name=".Information" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>